<section class="contact">
  <div class="contact-inner">
    <div class="booking-block">
      <h2>Booking</h2>
      <p class="booking-mail">
        <a href="mailto:viaentropia@gmail.com">viaentropia@gmail.com</a>
      </p>
    </div>

    <h3>Follow us on</h3>

    <ul class="socials">
      <li><a href="https://open.spotify.com/artist/5ZB5uPJhXrapPaCTMwvxpW?si=xHkY1IwnRP-ACxTHufHsqg" target="_blank" rel="noopener">Spotify</a></li>
      <li><a href="https://www.youtube.com/@viaentropiaband37" target="_blank" rel="noopener">YouTube</a></li>
      <li><a href="https://www.facebook.com/viaentropia/" target="_blank" rel="noopener">Facebook</a></li>
      <li><a href="https://www.instagram.com/viaentropia/" target="_blank" rel="noopener">Instagram</a></li>
    </ul>

      <footer class="site-footer">
        <p>&copy; {{ "now" | date: "%Y" }} viaEntropia. All rights reserved.</p>
    </footer>
  </div>
</section>